#!/bin/bash

set -eux

### --start_docs
## Prepare images for deploying the overcloud
## ==========================================

## Prepare Your Environment
## ------------------------

## * Source in the undercloud credentials.
## ::

source {{ working_dir }}/stackrc


{% if download_overcloud_image|bool %}

## * Download specific Overcloud images
## ::

if [ -f overcloud-full.qcow2 ]; then
    sudo rm -rf overcloud-full*
fi
curl -L -O "{{ overcloud_image_url }}"
tar xvfp {{ overcloud_full_tar_name }}
{% endif %}

{% if step_overcloud_image|bool %}

## * Upload images to glance.
## ::

openstack overcloud image upload {% if bash_deploy_ramdisk %}--old-deploy-image{% endif %} {% if whole_disk_images|bool %}--whole-disk{% endif %}

{% endif %}

{% if step_glance_upload|bool %}

## * Upload images to glance, this step is specific to nodepool based deployments.
## ::

    glance image-create --container-format bare \
        --disk-format qcow2 \
        --name overcloud-full \
        --file overcloud-full.qcow2

{% endif %}


## .. note:: Workaround for https://bugzilla.redhat.com/show_bug.cgi?id=1391602
## ::

sudo systemctl restart openstack-ironic-conductor && sleep 30

{% if step_register|bool %}

## * Register nodes with Ironic.
## ::

{% if release in ['kilo', 'liberty'] %}
openstack baremetal import --json instackenv.json
openstack baremetal configure boot
{% elif step_introspect|bool %}
openstack baremetal introspection bulk start
{% else %}
echo "bulk introspection has been skipped"
{% endif %}

{% endif %}



### --stop_docs
