#!/usr/bin/env bash

### --start_docs

## Install the required packages on the undercloud
## ===============================================

## * Install python-tripleoclient
## ::

sudo yum install -y {{ undercloud_package_requirements }}

### --stop_docs
